= form_for @request do |f|
  - if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title

  .field
    = f.label :description
    = f.text_area :description

  .actions
    = f.submit 'Save'
