%h1 Requests

= link_to 'New Request', new_request_path

= list_of @requests do |r|
  %b= r.title
  = r.description
  by
  = r.user.email
  (#{r.responses.count} interested)
  = link_to 'Respond', new_response_path(request_id: r.id)
  // - @requests.each do |request| //      %tr //        %td= link_to 'Show', request //        %td= link_to 'Edit', edit_request_path(request) // %td= link_to 'Destroy', request, :method => :delete, :data => { :confirm => 'Are you sure?' }
