= form_for @response do |f|
  - if @response.errors.any?
    #error_explanation
      %h2= "#{pluralize(@response.errors.count, "error")} prohibited this response from being saved:"
      %ul
        - @response.errors.full_messages.each do |msg|
          %li= msg

  .field
    %p Include a short message describing how you can help (optional, but recommended!):
    = f.text_area :description, cols: 40, rows: 6

  = f.hidden_field :request_id, value: params[:request_id]

  .actions
    = f.submit 'Submit'
