%h1 Listing responses

%table
  %thead
    %tr
      %th Request
      %th User
      %th Description
      %th
      %th
      %th

  %tbody
    - @responses.each do |response|
      %tr
        %td= response.request
        %td= response.user
        %td= response.description
        %td= link_to 'Show', response
        %td= link_to 'Edit', edit_response_path(response)
        %td= link_to 'Destroy', response, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Response', new_response_path
